// header vars
$header-background: #404b52;
$orangeSearchInput: #dc6226;
$main-white-content: #fff;
$main-orange-content: #dc6226;
$pure-white: #fff;
$deafault-text-color:#363636;
$turquoise-gray: #e8eef2;
$footer-bg: #3d3d3d;
$text-footer-block: #858686;
$color-text-social-footer: #9c9d9e;
$color-border-fotter-block: #5b5b5b;
$heading-color:#404B52;
$backgound-footer: #3d3d3d;

%top-margin-in-the-content {
	padding-top: 5%;
}
%main-heading {
	font: 300 39px/40px Bebas, sans-serif;
	// margin-bottom: 10%;
	padding: 0; 
	text-align: center;
	color: $heading-color;
	font-size: 35px;
	word-spacing: 6px;
}
%main-mini-heading {
	font: 300 39px/40px Bebas, sans-serif;
	// margin-bottom: 3%;
	padding: 0; 
	color: $heading-color;
	font-size: 30px;
	word-spacing: 4px;
}
%header-footer-block {
	color: $turquoise-gray;
	padding-bottom: 12%;
	font-weight: bold;
	margin: 0; 
}
%paragraph-patern {
	font-size: 147%;
	text-align: center;
}
%mini-heading {
	color: #404b52;
	font-family: inherit;
	font-size: 164%;
	font-weight: 600;
	font: 900 20px/24px Bebas, sans-serif;
	margin-bottom: 10px;

}
%font-for-paragraph-message-block {
	font-family: WorkSans;
}
%links-strategy-block {
	font-family: WorkSans;
	font-size: 114%;
	font-style: italic;
	padding: 1% 0%;
}
%chekmark-strategy-block {
	list-style-type: none;
	&:before {
		content:"\f00c";
		display: inline-block;
		font-family: "fontawesome";
		color: $main-orange-content;
		padding-right: 2%;
	}
}
%quote-left {
	&:before {
		content:"\f10d";
		display: inline-block;
		font-family: "fontawesome";
		color: $main-white-content;
		font-size: 50px;
		position: absolute;
		bottom: 100%;
		left: 0;
	}
}
%quote-right {
	&:after {
		content:"\f10e";
		display: inline-block;
		font-family: "fontawesome";
		color: $main-white-content;
		font-size: 50px;
		position: absolute;
		top: 102%;
		right: 0;
	}	
}
%stars-contact-form-links {
	&:after {
		content: "\f069";
		display: inline-block;
		font-family: "fontawesome";
		font-size: 6px;
		color: red;
		font-weight: lighter;
		padding: 0px 3px;
		position: absolute;
		top: 2px;
	}
}
%user {
	&:before {
		content:"\f007";
		display: inline-block;
		font-family: "fontawesome";
		color: $main-white-content;
		font-size: 17px;
		color: $main-orange-content;
		padding: 0 10px;
	}	
}
%calendar {
	&:before {
		content:"\f073";
		display: inline-block;
		font-family: "fontawesome";
		color: $main-white-content;
		font-size: 17px;
		color: $main-orange-content;
		padding: 0 10px;
	}	
}
%eye {
	&:before {
		content:"\f06e";
		display: inline-block;
		font-family: "fontawesome";
		color: $main-white-content;
		font-size: 17px;
		color: $main-orange-content;
		padding: 0 10px;
	}	
}
%coment {
	&:before {
		content:"\f075";
		display: inline-block;
		font-family: "fontawesome";
		color: $main-white-content;
		font-size: 17px;
		color: $main-orange-content;
		padding: 0 10px;
	}	
}
%font-navigation-footer-block {
	font-family: WorkSans;
}