<div class="comtainer wrapper-slider" ng-controller="galaryCtrl">
	<!-- <div class="row"> -->
		<div class="col-sm-12 slider-view">
			<img ng-src="{{photoSrc.src}}">
		</div>
		<div class="col-sm-12 wrapper-nav-slider">
			<ul class="nav-galery">
				<li ng-repeat="photo in photos" class="slide-link">
					<img ng-src="{{photo.src}}" ng-click="showPhoto($index)">
				</li>
			</ul>
		</div>
	<!-- </div> -->
</div>
<div class="col-sm-12 greeting-block">

   <h2 class="header1-greeting-block">WELCOME TO OUR COMPANY!</h2>
   <div class="col-sm-12 content-greeting-block">
	   <p class="paragraph1-in-greeting-block">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>

	   <button type="button" class="btn btn-default btn-lg content-button">LEARN MORE</button>
	</div> 

	<h4 class="header2-greeting-block">Our specialists in each service area provide optimum solutions for client's needs!</h4>
	<div class="col-sm-12 content-greeting-block">   
	   <p class="paragraph2-in-greeting-block">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut laboreore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit.</p>

	   <button type="button" class="btn btn-default btn-lg content-button">VIEW PORTFOLIO</button>
   </div>

</div>
<div class="col-sm-12 massange-block">
	<div class="col-sm-12 wrapper-content-massange-block">
		<div class="wrapper">
			<div class="row content-massange-block">
				<div class="col-sm-2 img-massange-block"><img src="build/img/testi-1.jpg" alt=""></div>
				<div class="col-sm-8 paragraph-massange-block">
					<p><a href="#">Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc. Praesent quis felis eget elit semper pharetra sollicitudin id nibh. Praesent venenatis lectus ornare, porta risus quis, commodo nulla. Nunc adipiscing ipsum lacinia diam pulvinar aliquet. Mauris sit amet venenatis massa. Sed eu venenatis</a></p>
					<span class="author-paragraph-massange-block">Steve Brightman, Tornton Industries</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container business-services-block">
	<div class="col-sm-12 wrapper-services-blocks upper-services-blocks">
		<div class="col-sm-4 service-block">
			<img src="build/img/icon-service-1.png" alt="">
			<h3>BUSINESS CONSULTING</h3>
			<p>Vestibulum quis felis ut enim aliquam iaculis. Nullam pharetra tortor at quam viverra volutpat. Phasellus vel faucibus dolor. Curabitur</p>
			<button type="button" class="btn btn-default btn-lg content-button">READ MORE</button>
		</div>
		<div class="col-sm-4 service-block">
			<img src="build/img/icon-service-2.png" alt="">
			<h3>ENTERPRISE APPLICATION</h3>
			<p>Vestibulum quis felis ut enim aliquam iaculis. Nullam pharetra tortor at quam viverra volutpat. Phasellus vel faucibus dolor. Curabitur</p>
			<button type="button" class="btn btn-default btn-lg content-button">READ MORE</button>
		</div>
		<div class="col-sm-4 service-block">
			<img src="build/img/icon-service-3.png" alt="">
			<h3>NEW STRATEGY</h3>
			<p>Vestibulum quis felis ut enim aliquam iaculis. Nullam pharetra tortor at quam viverra volutpat. Phasellus vel faucibus dolor. Curabitur</p>
			<button type="button" class="btn btn-default btn-lg content-button">READ MORE</button>
		</div>
	</div>
	<div class="col-sm-12 wrapper-services-blocks bottom-services-blocks">
		<div class="col-sm-4 service-block">
			<img src="build/img/icon-service-4.png" alt="">
			<h3>BUSINESS CONSULTING</h3>
			<p>Vestibulum quis felis ut enim aliquam iaculis. Nullam pharetra tortor at quam viverra volutpat. Phasellus vel faucibus dolor. Curabitur</p>
			<button type="button" class="btn btn-default btn-lg content-button">READ MORE</button>
		</div>
		<div class="col-sm-4 service-block">
			<img src="build/img/icon-service-5.png" alt="">
			<h3>BUSINESS CONSULTING</h3>
			<p>Vestibulum quis felis ut enim aliquam iaculis. Nullam pharetra tortor at quam viverra volutpat. Phasellus vel faucibus dolor. Curabitur</p>
			<button type="button" class="btn btn-default btn-lg content-button">READ MORE</button>
		</div>
		<div class="col-sm-4 service-block">
			<img src="build/img/icon-service-6.png" alt="">
			<h3>BUSINESS CONSULTING</h3>
			<p>Vestibulum quis felis ut enim aliquam iaculis. Nullam pharetra tortor at quam viverra volutpat. Phasellus vel faucibus dolor. Curabitur</p>
			<button type="button" class="btn btn-default btn-lg content-button">READ MORE</button>
		</div>
	</div>
</div>
<div class="container strategy-block"></div>