<div class="comtainer wrapper-slider" ng-controller="galaryCtrl">
	<!-- <div class="row"> -->
		<div class="col-sm-12 slider-view">
			<img ng-src="{{photoSrc.src}}">
		</div>
		<div class="col-sm-12 wrapper-nav-slider">
			<ul class="nav-galery">
				<li ng-repeat="photo in photos" class="slide-link">
					<img ng-src="{{photo.src}}" ng-click="showPhoto($index)">
				</li>
			</ul>
		</div>
	<!-- </div> -->
</div>
<div class="col-sm-12 greeting-block">
   <h1>WELCOME TO OUR COMPANY!</h1>
   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
   <button type="button" class="btn btn-warning">LEARN MORE</button>
   <p>Our specialists in each service area provide optimum solutions for client's needs!</p>
   <button type="button" class="btn btn-warning">VIEW PORTFOLIO</button>
</div>
<div class="col-sm-12 massange-block" style="height:410px">
	
</div>
<div class="col-sm-12 " style="height:910px"></div>