.wrapper-content-contacts {
	margin-bottom: 20%;
	margin-top: 5%;
	.content-contacts {
		/*.wrapper-map-contacts {}*/
		.wrapper-columns-contacts {
			padding: 0;		
			.form-column {
				h2 {
					padding-bottom: 3%;
				}
				form {
					.form-contacts-message {
						.text-area-form-contacts-message {
							resize: vertical !important;
						}
					}
				}
				label {
					margin: 0;
					position: relative;
					@extend %stars-contact-form-links;
				}
			}
			.information-column {
				h2 {
					padding-bottom: 3%;
				}
				a {
					color: $main-orange-content;
					text-decoration: none;
					&:hover {
					color: $turquoise-gray;
					/*color: darken ($turquoise-gray, 2%);*/
					}
				}
				.сontact-information {
					padding: 0;
					.left-column-сontact-information {
						padding: 0;
						width: 48%;
					}
					.right-column-сontact-information {
						padding: 0;
						width: 52%;
					}
					// .right-column
				}
			}
		}
		.header-contacts {
			@extend %main-heading;
		}

	}
}
