.wrapper-content-contacts {
	margin-bottom: 50px;
  margin-top: 3%;
	.content-contacts {
		.wrapper-map-contacts {
			margin: 2% 0;
			h2 {
				margin: 2% 0;
			}
		}
		.wrapper-columns-contacts {
			padding: 0;
			.form-column {
				h2 {
					padding-bottom: 3%;
				}
				form {
					position: relative;
					.form-contacts-message {
						.text-area-form-contacts-message {
							resize: vertical !important;
						}
					}
				}
				label {
					margin: 0;
					position: relative;
					@extend %stars-contact-form-links;
				}
			}
			.information-column {
				h2 {
					padding-bottom: 3%;
				}
				a {
					color: $main-orange-content;
					text-decoration: none;
					&:hover {
						color: $turquoise-gray;
						transition: color .2s ease-in-out;
					}
				}
				.сontact-information {
					padding: 0;
					.left-column-сontact-information {
						padding: 0;
						width: 48%;
					}
					.right-column-сontact-information {
						padding: 0;
						width: 52%;
					}
					// .right-column
				}
			}
		}
		.header-contacts {
			@extend %main-heading;
		}

	}
}
