.wrapper-content-contacts {
	margin-bottom: 5%;
	.content-contacts {
		/*.wrapper-map-contacts {}*/
		.wrapper-columns-contacts {
			padding: 0;		
			.form-column {
				h2 {
					padding-bottom: 3%;
				}
				form {
					.form-contacts-message {
						.text-area-form-contacts-message {
							resize: vertical !important;
						}
					}
				}
			}
			.information-column {
				h2 {
					padding-bottom: 3%;
				}
				a {
					color: $main-orange-content;
				   text-decoration: none;
				   &:hover {
				   	color: $turquoise-gray;
				   	/*color: darken ($turquoise-gray, 2%);*/
				   }
				}
			}
		}
		.header-contacts {
			@extend %main-heading;
		}

	}
}
