.wrapper-slider {
	background: $turquoise-gray;
	overflow: hidden;
	.slider-view {
		padding: 0;
		position: relative;
		img {
			width: 100%;
		}
		.wrapper-btn-slider {
			background: $turquoise-gray;
		    margin-left: 10%;
			.btn-slider {
				text-decoration: none;
				background: $main-orange-content;
				position: absolute;
				z-index: 1;
				bottom: 49%;
				margin-bottom: 10px !important;
				font-family: Bebas;
				color: $main-white-content;
				@media (min-width: $screen-lg-min) {
					width: 550px;
					font-size: 32px;
					padding: 25px 0;
				}
				padding: 30px 0;
				text-align: center;
				font-size: 25px;
				width: 430px;
				height: 100px;
				border: none;
				transition: background 0.5s ease-in-out;
				&:hover {
					background: $header-background;
				}
			}
			.the-bottom-text-box {
				font-family: sans-serif;
				position: absolute;
			    z-index: 1;
			    top: 51%;
			    background: $main-white-content;
			    padding: 1.1% 0;
					@media (min-width: $screen-lg-min) {
							width: 550px;
					}
					width: 430px;
			    text-align: center;
			}
		}
	}
	.wrapper-nav-slider {
		padding: 0;
		margin: 0 auto;
		text-align: center;



	}
	.nav-galery {
		padding: 25px 0px;
		margin: 0;
		background: $turquoise-gray;
		.slide-link {
			background: $heading-color;
			cursor: pointer;
			list-style-type: none;
			width: 19%;
			overflow: hidden;
			margin: 0 10px;
			display: inline-block;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
			.active {
				opacity: 1!important;
			}
			img {
				position: relative;
				right: 54%;
				width: 154%;
				opacity: 0.8;
				background: black;
				&:hover {
					opacity: 1;
					transition: 0.3s ease;
				}
			}
		}
	}

}
.nav-btn-slider {
	padding-bottom: 3%;
  text-align: center;
	background: $turquoise-gray;
	.slider-nav-btn {
		text-decoration: none;
		background: $main-orange-content;
		margin-bottom: 10px !important;
		font-family: Bebas;
		padding: 30px 44px;
  	text-align: center;
  	font-size: 21px;
		color: $main-white-content;
		width: 430px;
		height: 100px;
		border: none;
		transition: background 0.5s ease-in-out;
		&:hover {
			background: $header-background;
		}
	}
	.nav-bottom-text-btn {
		font-family: sans-serif;
    margin: 0 auto;
		background: $main-white-content;
		margin-top: 33px;
		// width: 430px;
		padding: 1.1% 0;
		text-align: center;
	}
}
.wrapper-greeting-block {
	.greeting-block {
		padding: 5% 0 1%;
		// @extend %top-margin-in-the-content;
		background: url(/website/images/map.png) no-repeat center;
		text-align: center;
		.header1-greeting-block {
			@extend %main-heading
		}
		.header2-greeting-block {
			font-weight: 600;
			font-size: 21px;
			clear: both;
			padding: 1% 0;
		}
		.section-greeting-block {
			padding-bottom: 4%;
			.paragraph1-in-greeting-block {
				font-size: 22px;
				line-height: 32px;
			}
			.paragraph2-in-greeting-block {
				font-size: 19px;
				font-family: WorkSans;
			}
			.paragraph1-in-greeting-block, .paragraph2-in-greeting-block {
				padding: 1% 21%;
			}
		}
		.first-block-greeting {
			// margin-bottom: 5%;
		}
	}
}
.message-block {

	background: url(/website/images/parallax-1.jpg) fixed;
	position: relative;
	padding: 6% 4%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
		@extend %quote-left;
		@extend %quote-right;
	.wrapper-content-message-block {
		padding: 0;
		.content-message-block {
			@media (max-width: $screen-sm-min) {
				margin: 22% 14% !important;
			}
			margin: 0% 14%;
			background: $main-white-content;
			border-radius: 20px;
			.img-message-block {
				text-align: center;
				margin: 0 auto;
				    padding: 0;
				img {
					width: 60%;
					border-radius: 50%;
					padding: 10% 0%;
				}
			}
			.paragraph-message-block {
				padding: 3% 4%;
				p 	{
					@extend %font-for-paragraph-message-block;
					a 	{
						text-decoration: none;
						color: $deafault-text-color;
						&:hover {
						color: $main-orange-content;
						}
					}
				}
				.author-paragraph-message-block {
					color: $main-orange-content;
				}
			}
		}
	}

}
.services-blocks {
	margin-top: 5%;
	margin-bottom: 3%;
}
.bottom-services-blocks {
	margin-bottom: 5%;
}
.business-services-block {
		.service-block {
			margin: 5% 0;
			text-align: center;
			h3 {
				font: 200 25px/40px Bebas, sans-serif;
			}
		}
}
.wrapper-strategy-block {
		background: $turquoise-gray;
	.strategy-block {
		@extend %top-margin-in-the-content;
		padding-bottom: 4%;
		p {
			@extend %paragraph-patern;
			margin: 3% 0% 6%;
			padding: 0% 15%;
		}
		.heading-strategy-block {
			@extend %main-heading;
		}
		.content-strategy-block {
			padding: 0;
			.column-strategy-block {
				text-align: center;
				img {
					width: 100%;
					padding: 6px;
				    background: #fff;
				    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.15);
				    -moz-box-shadow: 0 4px 4px rgba(0,0,0,0.15);
				    box-shadow: 0 4px 4px rgba(0,0,0,0.15);
				}
				ul {
					text-align: left;
				   padding: 0;
				   list-style: none;
					li {
						@extend %links-strategy-block;
						@extend %chekmark-strategy-block;
					}
				}
				.header-strategy-block {
					/*@extend %mini-heading;*/
					font-family: sans-serif;
					font-size: 164%;
	    			font-weight: 600;
					text-align: left;
					margin-top: 14%;
				}
			}
		}
	}
}
.wrapper-footer-block {
	.wrapper-footer {
		height: 110px;
	}
	background: $backgound-footer;
	.footer-block {
		// padding-top: 5%;
		padding: 5% 0 4%;
	    border-bottom: 2px solid $color-border-fotter-block;
	    // padding-bottom: 4%;
		/*background: $footer-bg;*/
		/*padding: 0% 2%;*/
		.left-footer-block {
			/*border-right: 1px solid $color-border-fotter-block;*/
		}
		.footer-column {
			margin-right: 3%;
			padding: 0;
			a {
				@extend %content-links;
			}
			.header-footer-column {
				@extend %header-footer-block;
			}
			.contacts-footer-column {
				li {
					color: $color-text-social-footer;
					a {
						text-decoration: none;
						color: $color-text-social-footer;
						&:hover {
							color: $main-orange-content;
						}
					}
				}
			}
			ul {
				text-align: left;
			    padding: 0;
				li {
				    list-style: none;
				    @extend %font-navigation-footer-block;
					.active {
						a {
							@extend %content-links;
						}
					}
					a {
						color:$text-footer-block;
					}
				}
			}
		}

		.social-footer-column {
			border-left: 1px solid $color-border-fotter-block;
			padding: 0;
			padding-left: 20px;
			.header-footer-column {
				@extend %header-footer-block;

			}
			.social-icons {
				margin-bottom: 10%;
				a {
					.fa {
						font-size: 34px;
						color: $turquoise-gray;
						margin-right: 15px;
						transition: color 0.5s ease;
						&:hover {
							color: $main-orange-content;
						}
					}
				}
			}
			.social-footer-column-informed-input {
				margin-top: 10%;
				padding-left: 0;
				h4 {
					color: $turquoise-gray;
					font-weight: bold;
				}
				.input-social-footer-column {
					border-radius: 0;
					border-color: $main-orange-content;
					background: $footer-bg;
					color: $pure-white;
				}
				.btn-input-social-footer-column {
					border-color: $main-orange-content;
					padding: 6.7px 5px;
					border-radius: 0;
				}
			}
		}
	}
}
