.main-header {
	border: none !important;
	.content-main-header {
		padding: 0;
		width: 1111px;
		.wrapper-header-logo {

			.header-logo {
				color: $main-white-content;
				@media (min-width: $screen-sm-min) {
					font-size: 15px;
				}
				@media (min-width: $screen-md-min) {
					font-size: 23px;
				}
				font-size: 23px;
			}
			.header-logo-piece {
				color: $main-orange-content;
				@media (min-width: $screen-sm-min) {
					font-size: 15px;
				}
				@media (min-width: $screen-md-min) {
					font-size: 23px;
				}
				font-size: 23px;
			}
		}
		.links-main-header {
			@media (min-width: $screen-sm-min) {
				float: right;
			}
			position: relative;
			padding: 0 15px;
			overflow: hidden;
			li > a {
				font-weight: bold;
				transition: background .1s ease-in-out;
			}
		}
		.search-block-main-header {
			position: relative;
			overflow: auto;
			width: 156px;
			// margin: 35px 0px 35px 0px;
			position: relative;
		 	a {
			color: $pure-white;
			position: absolute;
   				top: 18%;
   				right: 7%;
			}
			.wrapper-input-search {
		    margin-left: 3%;
				position: relative;
				transition: color .2s ease-in-out;
				&:hover {
				 	color: $main-orange-content;
				 	.search-header-input {
				 		border: 1px solid $main-orange-content;
				 	}
				 	.search-icon {
				 		color: $main-orange-content;
				 		cursor: pointer;
				 	}
				 }
				.search-header-input {
					border-radius: 0px;
					width: 132px;
					height: 32px;
					border: $header-background;
					background: $header-background;
					background: $header-background;
					color: $pure-white;
				}
			}
		}
	}
}
div.navbar-collapse.collapse {
	display: block;
	overflow: hidden;
	max-height: 0px;
	-webkit-transition: max-height .3s ease;
	-moz-transition: max-height .3s ease;
	-o-transition: max-height .3s ease;
	transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
	max-height: 2000px;
}
