@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
/* Small devices (tablets, 768px and up) */
@media (max-width: $screen-sm-min) {
	.main-header {
		.content-main-header {
			width: 99% !important;
			.search-block-main-header {
				.wrapper-input-search {
					margin: 0;
				}
				a {
					padding: 9px 0 !important;
					position: absolute;
			    top: 0%;
			    right: 5%;
				}
			}
		}
	}
	.wrapper-slider {
		padding-bottom: 12px;;
	}
	.wrapper-message-block {
		.content-message-block {
			.paragraph-message-block {
				text-align: center;
			}
		}
	}
	.social-footer-block {
		border: none!important;
	}

	.blog-column {
		.content-blog-column {
			.blog-topic-title {
				text-align: center!important;
			}
			.nav-buttons-blog {
				font-size: 12px;
				margin-right: 1px;
			}
		}


	}
	.footer {
		font-size: 89%;
	}
// =============================================
	.message-block {
		// padding: 22% 2% !important;
		.wrapper-content-massange-block {
			.content-massange-block {
	    		// margin: 10% 15% !important;
				.img-massange-block {
					img {
						width: 40%;
					}
				}
				.paragraph-massange-block {
					padding: 3% 10%;
				    font-size: 17px;
				    text-align: center;
				}
			}
		}
	}
// ======================================================
	.section-greeting-block {
			> p {
				padding: 0 !important;
			}
	}
// ===========================================================
	.wrapper-footer-block {
		.footer-block {
			.footer-column {
				/*margin-right: 3%;*/
				margin: 0 !important;
			}
		}
	}
// =============================================================
	.wrapper-footer-block {
		.social-footer-column {
			border: none !important;
		}
	}
// =================CONTACT-PAGE=================
	.wrapper-content-contacts {
		.content-contacts {
			.wrapper-columns-contacts {
				.information-column {
					margin-top: 3%;
					.сontact-information {
						.left-column-сontact-information {
							margin: 5% 1px 13% 0;
						}
					}
				}
			}
		}
	}
	.wrapper-footer-block {
		.left-footer-block {
			padding: 0;
		}
	}
	.column-strategy-block {
		ul {
			li {
				font-size: 14px !important;
			}
		}
	}
}
	/* Medium devices (desktops, 992px and up) */
@media (max-width: $screen-md-min) {
	.main-header {
		.content-main-header {
			//padding: 0px 17px;
			.wrapper-input-search {
				padding: 0;
			}
			width: 100%;
			.header-logo {
				font-size: 111%;
				padding: 41px 0;
			}
			.links-main-header {
				// padding: 0;
				li {
					a {
						font-size: 79%;
					}
				}
			}
		}
	}
	.wrapper-btn-slider {
	}
// ========================================
	.business-services-block {
		.wrapper-services-blocks {
			.service-block {
				h3 {
					font-size: 137%;
				}
			}
		}
	}
// =====================BLOG-PAGE======================
	.wrapper-content-blog-page {
		.content-blog-page {
			.wrapper-columns {
				.categories-column {
					margin-top: 5%;
				}
			}
		}
	}
}
/*Large devices (large desktops, 1200px and up)*/
@media (max-width: $screen-lg-min) {
	.main-header {
		width: 100%;
		.content-main-header {
			width: 97% !important;
			padding: 0;
		}
		.search-block-main-header {
			padding: 0;
		}
	}
	.message-block {
		padding: 10% 4% !important;
		.content-message-block {
			margin: 1% 14% !important;
		}
	}
}
