@import "variables/customVariables";
@import "variables/appVariables";
@import "./bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
}
.content-wrapper {
  box-sizing: border-box;
  min-height: 100%;
}

@import "layouts/header";
@import "mobile/mobile";
@import "pages/home-page";
@import "components/content-wrapper";
@import "fonts/fonts";
@import "components/content-buttons";
@import "layouts/footer";
@import "pages/contacts-page";
@import "pages/blog-page";
@import "pages/registration-page";
@import "pages/sig-in";
@import "components/form-validation";
