.goToTop {
  opacity: 0;
  background: #363636;
  border-radius: 50%;
  bottom: 30px;
  color: transparent;
  font-size: 0;
  line-height: 0;
  margin-right: 0 !important;
  padding: 3px 0 7px;
  position: fixed;
  right: 40px !important;
  // text-align: center;
  text-decoration: none;
  width: 70px;
  height: 70px;
  z-index: 5;
  &:hover {
    background: $main-orange-content;
    transition: background 0.5s ease;
  }
  .scroll-icon {
    font-size: 55px;
    color: aliceblue;
    padding: 0 8px;
  }
}
