@font-face {
    font-family: Bebas;
    src: url(/website/consalting/assets/fonts/Bebas/Bebas.ttf);
}
@font-face {
    font-family: WorkSans;
    src: url(/website/consalting/assets/fonts/WorkSans/WorkSans.otf);
}
@fa-font-path:   "/website/consalting/assets/fonts/font-awesome/scss/_variables.scss"