@font-face {
    font-family: Bebas;
    src: url(/website/fonts/Bebas/Bebas.ttf);
}
@font-face {
    font-family: WorkSans;
    src: url(/website/fonts/WorkSans/WorkSans.otf);
}
@fa-font-path:   "/website/fonts/font-awesome/scss/_variables.scss"

h4 {
	font-size: 20px;
}

p {
	font-size: 15px !important;
}