<div class="comtainer wrapper-slider" ng-controller="galaryCtrl">
	<div class="goToTop" back-to-top ng-include="'website/templates/components/backToTop.html'"></div>
	<div class="col-sm-12 slider-view">
		<img ng-src="{{photoSrc.src}}">
		<div class="wrapper-btn-slider">
			<button type="button" class="btn btn-default btn-lg btn-slider">{{btnSrc.btnName}}</button>
			<p class="the-bottom-text-box">{{btnTitle.btnBanner}}</p>
		</div>

	</div>
	<div class="col-sm-12 wrapper-nav-slider">
		<ul class="nav-galery">
			<li  ng-repeat="photo in photos" class="slide-link" ng-click="showPhoto($index)">
				<img ng-src="{{photo.src}}" ng-class="{'active': photo.active}">
			</li>
		</ul>
	</div>
</div>
<div class="col-sm-12 wrapper-greeting-block">
	<div class="col-sm-12 greeting-block">
		<h2 class="header1-greeting-block">WELCOME TO OUR COMPANY!</h2>
		<div class="col-sm-12 section-greeting-block first-block-greeting">
		   <p class="paragraph1-in-greeting-block">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>

		   <button type="button" class="btn btn-default btn-lg content-button">LEARN MORE</button>
		</div>

		<h4 class="header2-greeting-block">Our specialists in each service area provide optimum solutions for client's needs!</h4>
		<div class="col-sm-12 section-greeting-block">
		   <p class="paragraph2-in-greeting-block">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut laboreore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit.</p>

		   <button type="button" class="btn btn-default btn-lg content-button">VIEW PORTFOLIO</button>
		</div>
	</div>
</div>
<div class="col-sm-12 message-block">
	<div class="col-sm-12 wrapper-content-message-block">
		<div class="wrapper-message-block">
			<div class="row content-message-block">
				<div class="col-sm-2 img-message-block"><img src="/website/images/testi-1.jpg" alt=""></div>
				<div class="col-sm-10 paragraph-message-block">
					<p><a href="#">Quisque varius, nibh ac feugiat interdum, libero massa laoreet tellus, nec congue lorem arcu a nunc. Praesent quis felis eget elit semper pharetra sollicitudin id nibh. Praesent venenatis lectus ornare, porta risus quis, commodo nulla. Nunc adipiscing ipsum lacinia diam pulvinar aliquet. Mauris sit amet venenatis massa. Sed eu venenatis</a></p>
					<span class="author-paragraph-message-block">Steve Brightman, Tornton Industries</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container business-services-block">
	<div class="col-sm-12 wrapper-services-blocks services-blocks"  ng-controller="bisinessBlockCtrl">
		<div class="col-sm-4 service-block" ng-repeat="block in serviceBlock">
			<img src="{{block.srcImg}}" alt="">
			<h3>{{block.header}}</h3>
			<p>{{block.paragraph}}</p>
			<button type="button" class="btn btn-default btn-lg content-button">READ MORE</button>
		</div>
	</div>
</div>

<div class="col-sm-12 wrapper-strategy-block">
	<div class="col-sm-12 strategy-block">
		<h3 class="heading-strategy-block">STRATEGY IS NOTHING WITHOUT EXECUTION</h3>
		<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
		<div class="container content-strategy-block" ng-controller="strategyCtrl">
			<div ng-repeat="list in strategyBlock" class="col-sm-4 column-strategy-block">
				<img src="{{list.srcImg}}" alt="">
				<h5 class="header-strategy-block">{{list.header}}</h5>
				<ul>
					<li>{{list.item1}}</li>
					<li>{{list.item2}}</li>
					<li>{{list.item3}}</li>
					<li>{{list.item4}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-12 wrapper-footer-block">
	<div class="container footer-block">
		<div class="col-sm-8 col-xs-12 left-footer-block">
			<div class="col-sm-3 col-xs-4 footer-column">
				<h4 class="header-footer-column">NAVIGATION</h4>
				<ul>
					<li><a ui-sref="home">Home<span class="sr-only">(current)</span></a></li>
			        <li><a ui-sref="contacts">Contacts</a></li>
			        <li><a ui-sref="blog">Blog</a></li>
			        <li><a ui-sref="reg">Registration</a></li>
			        <li><a ui-sref="sig-in">Sig In</a></li>
				</ul>
			</div>
			<div class="col-sm-3 col-xs-4 footer-column">
				<h4 class="header-footer-column">NEWS</h4>
				<ul>
					<li><a href="">New Releases</a></li>
					<li><a href="">Events</a></li>
					<li><a href="">How To</a></li>
					<li><a href="">Real Help</a></li>
					<li><a href="">Charity</a></li>
					<li><a href="">Contes</a></li>
				</ul>
			</div>
			<div class="col-sm-4 col-xs-4 footer-column">
				<h4 class="header-footer-column">GET IN TOUCH</h4>
				<ul class="contacts-footer-column">
					<li>E-mail: <a href="#">mail@demolink.org</a></li>
					<li>8901 Marmora Road</li>
					<li>Glasgow, DO4 89GR.</li>
					<li>Freephone:+1 800 559 6580</li>
					<li>Telephone:+1 959 603 6035</li>
					<li>FAX:+ 1 504 889 9898</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4 social-footer-column">
			<h4 class="header-footer-column">CONNECT ONLINE</h4>
			<div class="social-icons">
				<a href="#" id="faceBook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#" id="googlePlus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
				<a href="#" id="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="#" id="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
				<a href="#" id="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>
			<div class="col-sm-12 social-footer-column-informed-input">
				<h4>STAY INFORMED</h4>
				<div class="input-group">
					<input type="text" class="form-control input-social-footer-column" placeholder="e-mail adress">
					<span class="input-group-btn">
						<button class="btn btn-default btn-input-social-footer-column" type="button">SIGN UP</button>
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->

		</div>
	</div>
	<div class="wrapper-footer" ng-include="'website/templates/components/footer.html'"></div>

</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3504958.519617769!2d-90.1488676!3d30.9199051!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889cf1bffbc210eb%3A0x86e9d363d0ccba38!2z0JHRgNGD0LrQu9C40L0sINCc0LjRgdGB0LjRgdC40L_QuCAzOTQyNSwg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1470065958589" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
