<div class="container wrapper-registration-page">
	<div class="row wrapper-registration-content">
		<h2 class="header-registration">REGISTRATION FORM</h2>
		<div class="col-sm-11 col-xs-10 col-xs-offset-1 content-registration">
			<div class="col-sm-5 col-xs-10 col-xs-offset-1 col-sm-offset-3 wrapper-form-registration">
				<form class="form-registration" name="myForm" novalidate ng-submit="vm.sendDataRegistration(formData)">
			     	<div class="form-group">
			     	    <label>Full Name</label>
			     	    <input name="userName" placeholder="User Full Name" type="text" validate-fullname class="form-control" required ng-model="formData.user.name">
								<span class="error" ng-show="myForm.userName.$error.fullname">This fullname format is invalid!</span>
								<span class="error" ng-show="myForm.userName.$error.required && myForm.userName.$dirty">This field is required</span>
			     	</div>
						<div class="form-group">
			     	    <label>E-mail</label>
			     	    <input name="userEmail" placeholder="User Email" type="email" validate-email class="form-control" required ng-model="formData.user.email">
								<span class="error" ng-show="myForm.userEmail.$error.email">This email format is invalid!</span>
								<span class="error" ng-show="myForm.userEmail.$error.required && myForm.userEmail.$dirty">This field is required</span>
			     	</div>
						<div class="form-group">
			     	    <label>Password</label>
								<input name='passUser' ng-model='formData.user.password' type="password" class="form-control" ng-minlength="6" placeholder="User Password" required>
								<span class="error" ng-show="myForm.passUser.$error.minlength">The password must be of 6 symbol</span>
								<span class="error" ng-show="myForm.passUser.$error.required && myForm.passUser.$dirty">This field is required</span>
			     	</div>
			     	<div class="form-group">
			     	    <label>Password (Confirm)</label>
								<input ng-model='user.password_verify' type="password" name='confirm_password' class="form-control" ng-minlength="6" placeholder="User Password Confirm" required password-verify="formData.user.password">
								<span class="error" ng-show="myForm.confirm_password.$error.required && myForm.confirm_password.$dirty">
					        Field required!</span>
					      <span class="error" ng-show="myForm.confirm_password.$error.passwordVerify">Password does not match!</span>
			     	</div>
			     	<button type="submit" class="btn btn-default content-button sendTest" ng-disabled="myForm.$invalid">Register</button>
						<span class="spinner" ng-class="spinnerClass">
						  <div class="bounce1"></div>
						  <div class="bounce2"></div>
						  <div class="bounce3"></div>
						</span>
				</form>
			</div>
		</div>
	</div>
</div>
