<div class="container wrapper-registration-page">
	<div class="col-sm-12 wrapper-registration-content">
		<h2 class="header-registration">REGISTRATION FORM</h2>
		<div class="col-sm-12 content-registration">
			<div class="col-sm-5 wrapper-form-registration">
				<form class="form-registration">
			     	<div class="form-group form-contacts-name">
			     	    <label>Your name</label>
			     	    <input name="" type="text" class="form-control">
			     	</div>    
					<div class="form-group form-contacts-email">
			     	    <label>Your e-mail address</label>
			     	    <input name="" type="text" class="form-control">
			     	</div>    
					<div class="form-group form-contacts-subject">
			     	    <label>Subject</label>
			     	    <input name="" type="text" class="form-control">
			     	</div> 
			     	<div class="form-group form-contacts-subject">
			     	    <label>Subject</label>
			     	    <input name="" type="text" class="form-control">
			     	</div>    
					
			     	<button type="submit" class="btn btn-default content-button">SEND MESSAGE</button>
				</form>
			</div>
		</div>
	</div>
</div>
<footer ng-include="'website/templates/components/footer.html'"></footer>