<div class="container wrapper-content-sig-in">
	<div class="row">
		<h2 class="header-sig-in">WELCOME TO CONSULTING CO.</h2>
		<div class="col-sm-12 wrapper-form-cig-in">
			<div class="col-sm-4 col-sm-offset-4">
				<form class="form-sig-in">
				     	<div class="form-group form-sig-in-login">
				     	    <label>Login</label>
				     	    <input name="" type="text" class="form-control">
				     	</div>
					<div class="form-group form-sig-in-pass">
			     	    <label>Pass</label>
			     	    <input name="" type="password" class="form-control">
			     	</div>

			     	<button type="submit" class="btn btn-default content-button">Sig In</button>
				</form>
			</div>
		</div>
	</div>
</div>
<footer ng-include="'website/templates/components/footer.html'"></footer>
