<div class="container wrapper-content-sig-in">
	<div class="row">
		<h2 class="header-sig-in">WELCOME</h2>
		<div class="col-sm-12 col-xs-10 col-xs-offset-1 wrapper-form-cig-in">
			<div class="col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-3 form-sig-in">
				<form name="sigInForm" novalidate ng-submit="vm.sendDataLogin(formData)">
					<div class="form-group form-sig-in-login">
				    <label>Login</label>
				    <input name="login" type="text" placeholder="Full Name" validate-fullname class="form-control" required ng-model="formData.login.name">
						<span class="error" ng-show="sigInForm.login.$error.fullname">This Login format is invalid!</span>
						<span class="error" ng-show="sigInForm.login.$error.required && sigInForm.login.$dirty">This field is required</span>
		     	</div>
					<div class="form-group form-sig-in-pass">
					  <label>Password</label>
					  <input name="pasword" placeholder="Your pasword" type="password" class="form-control" required ng-model="formData.login.pasword">
						<span class="error" ng-show="sigInForm.pasword.$error.required && sigInForm.pasword.$dirty">You haven't entered a password</span>
					</div>
			     	<button type="submit" class="btn btn-default content-button sendTest" ng-disabled="sigInForm.$invalid">Sig In</button>
						<span class="spinner" ng-class="spinnerClass">
						  <div class="bounce1"></div>
						  <div class="bounce2"></div>
						  <div class="bounce3"></div>
						</span>
				</form>
			</div>
		</div>
	</div>
</div>
